{% from 'macros.html' import enhanced_tooltip, render_reference_table %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ asset.short_description | striptags }}</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <h1>{{ asset.short_description | striptags }}</h1>

    {# Tab navigation #}
    <div class="tabs">
        <input type="radio" name="page-tabs" id="tab-pretty" checked>
        <label for="tab-pretty">Composed</label>

        <input type="radio" name="page-tabs" id="tab-refs">
        <label for="tab-refs">References</label>

        <input type="radio" name="page-tabs" id="tab-xml">
        <label for="tab-xml">XML</label>

        <div class="tab-panels">
            {# Tab 1: Pretty Printed Tree #}
            <div class="tab-panel" id="panel-pretty">
                {% macro render_node(node) %}
                {% if node.__class__.__name__ == "ReferenceAttribute" %}
                <span title="{{ enhanced_tooltip(node) }}">{{node.name}}:
                    {% if node.is_variable %}
                    {{ node.variable_name }} <em>(Variable)</em>
                    {% elif node() is none %}
                    None
                    {% else %}
                    <a href="{{ node().safe_identifier }}.html" title="{{ enhanced_tooltip(node()) }}">{{
                        node().short_description | striptags }}</a>
                    {% endif %}
                </span>
                {% elif node.is_compound %}
                <span title="{{ enhanced_tooltip(node) }}">{{ node if node.__class__.__name__ == "ListItem" else (node.name if node.name else node) }}</span>
                <ul>
                    {% for child in node %}
                    {% set inherited = (child.parent != node) %}
                    {% set is_default = (child.meta.default == child) if child.meta is defined and child.meta is not none and
                    child.meta.default is defined else false %}
                    <li{% if inherited or is_default %}
                        class="{% if inherited %}inherited{% endif %}{% if inherited and is_default %} {% endif %}{% if is_default %}default{% endif %}"
                        {% endif %}>
                        {{ render_node(child) }}
                        </li>
                        {% endfor %}
                </ul>
                {% else %}
                <span title="{{ enhanced_tooltip(node) }}">
                    {% if node.is_variable %}
                    {{ node.name | striptags }}: {{ node.variable_name | striptags }} <em>(Variable)</em>
                    {% else %}
                    {{ node | striptags }}
                    {% endif %}
                </span>
                {% endif %}
                {% endmacro %}

                <ul>
                    <li>Template: <a href="../templates/{{ asset.template.safe_identifier }}.html"
                            title="{{ enhanced_tooltip(asset.template) }}">{{asset.template.name}}</a>
                    </li>
                    {{ render_node(asset) }}
                </ul>
            </div>

            {# Tab 2: References #}
            <div class="tab-panel" id="panel-refs">
                {% for key, ref_dict in asset.named_reference_collections.items() %}
                    {{ render_reference_table(key, ref_dict, is_asset_view=true) }}
                {% endfor %}
            </div>

            {# Tab 3: XML #}
            <div class="tab-panel" id="panel-xml">
                <pre class="xml-display">{{ xml }}</pre>
            </div>
        </div>
    </div>
</body>

</html>
