{% from 'macros.html' import enhanced_tooltip, render_reference_table %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ template.name }}</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <h1>{{ template.name }}</h1>

    {# Tab navigation #}
    <div class="tabs">
        <input type="radio" name="page-tabs" id="tab-pretty" checked>
        <label for="tab-pretty">Composed</label>

        <input type="radio" name="page-tabs" id="tab-refs">
        <label for="tab-refs">References</label>

        <input type="radio" name="page-tabs" id="tab-xml">
        <label for="tab-xml">XML</label>

        <div class="tab-panels">
            {# Tab 1: Pretty Printed Tree #}
            <div class="tab-panel" id="panel-pretty">
                {% macro render_node(node) %}

                {% if node.__class__.__name__ == "ReferenceAttribute" %}
                {% set ref = node() %}
                <span title="{{ enhanced_tooltip(node) }}">{{ node.name | striptags }}:
                    {% if node.is_variable %}
                    {{ node.variable_name | striptags }} <em>(Variable)</em>
                    {% elif ref is not none %}
                    <a href="../assets/{{ ref.safe_identifier }}.html" title="{{ enhanced_tooltip(ref) }}">{{ ref.name | striptags if ref.name else ref | striptags }}</a>
                    {% else %}
                    None
                    {% endif %}
                </span>
                {% elif node.is_compound %}
                <span title="{{ enhanced_tooltip(node) }}">{{ node.name | striptags if node.name else node | striptags }}</span>
                <ul>
                    {% for child in node %}
                    {% set inherited = (child.parent != node) %}
                    {% set is_default = (child.meta.default == child) %}
                    <li{% if inherited or is_default %}
                        class="{% if inherited %}inherited{% endif %}{% if inherited and is_default %} {% endif %}{% if is_default %}default{% endif %}"
                        {% endif %}>
                        {{ render_node(child) }}
                        </li>
                        {% endfor %}
                </ul>
                {% else %}
                <span title="{{ enhanced_tooltip(node) }}">
                    {% if node.is_variable is defined and node.is_variable %}
                    {{ node.name | striptags }}: {{ node.variable_name | striptags }} <em>(Variable)</em>
                    {% else %}
                    {{ node | striptags }}
                    {% endif %}
                </span>
                {% endif %}

                {% endmacro %}

                <ul>{{ render_node(template) }}</ul>
            </div>

            {# Tab 2: References (instances of this template) #}
            <div class="tab-panel" id="panel-refs">
                {% for key, ref_dict in template.named_reference_collections.items() %}
                    {{ render_reference_table(key, ref_dict, is_asset_view=false) }}
                {% endfor %}
            </div>

            {# Tab 3: XML #}
            <div class="tab-panel" id="panel-xml">
                <pre class="xml-display">{{ xml }}</pre>
            </div>
        </div>
    </div>
</body>

</html>
